[2015-07-20 19:25] olebedev opened #1 "Maybe it's time to use Redux?"
Need time to investigate redux well. Any help with plug in redux are welcome.

[2015-07-21 13:13] olebedev opened #2 "Update css-loader"

[2015-08-27 18:13] tonyalaribe opened #3 "Can this run on heroku?"
Since this uses duktape which is an embeddable C program, would it run on a single process heroku instance?

[2015-08-28 02:57] olebedev commented on #3
Hi, @tonyalaribe
Of course this can!
My workflow is:
- build the linux binary
- push the file to heroku/dokku with [null-buildpack](https://github.com/ryandotsmith/null-buildpack)

That's it.

[2015-08-28 02:57] #3 closed

[2015-08-28 05:51] tonyalaribe commented on #3
Thanks @olebedev .  So, no more compiling on heroku, but still convenient

[2015-09-01 12:08] #2 closed

[2015-09-07 03:49] sailei1 opened #4 "unrecognized package"
go get app/...
package golang.org/x/net/context: unrecognized import path "golang.org/x/net/context"
package golang.org/x/net/publicsuffix: unrecognized import path "golang.org/x/net/publicsuffix"

make  serve
cleaned
 62% 62/71 build modulesContainer#eachAtRule is deprecated. Use Container#walkAtRules instead.
Container#eachRule is deprecated. Use Container#walkRules instead.
Container#eachDecl i

[2015-09-07 04:41] olebedev commented on #4
Could you provide output of this command - `echo $GOPATH && pwd`, executed in project folder?

[2015-09-07 06:33] sailei1 commented on #4
export GOARCH=amd64
export GOOS=darwin
export GOPATH=$HOME/golang
export GOROOT=/usr/local/go
export PATH=$PATH:$GOPATH/bin
export PATH=$PATH:$GOROOT/bin

[2015-09-07 06:33] sailei1 commented on #4
sai:~ zhangsailei$ echo $GOPATH && pwd
/Users/zhangsailei/golang
/Users/zhangsailei

[2015-09-07 06:40] olebedev commented on #4
It looks like you didn't export new GOPATH.
Try this in project folder:
[code]
Check [install](https://github.com/olebedev/go-starter-kit#install) section for more information.

I leave this issue open, while I don't sure that the problem is just correct GOPATH. Please, let me know.

[2015-09-07 06:50] sailei1 commented on #4
It's   just correct GOPATH , put  in  $HOME/golang/src    it's fine

[2015-09-07 06:52] olebedev commented on #4
Ok :+1:
It is still recommended to use separate GOPATH, at least for this project.

[2015-09-07 06:52] #4 closed

[2015-09-13 15:57] Laiff commented on #1
I started to work on adding Redux in my fork, see branch redux

[2015-09-13 16:21] olebedev commented on #1
@Laiff it looks like you start from outdated HEAD, please merge current HEAD before PR.
Unfortunately there are some conflicts probably...
Main differences are here - https://github.com/olebedev/go-starter-kit/commit/fa26fab9c1acc3fc3cf9f0a6bd2c2894d6c16295, please take a look.

[2015-09-23 08:11] m1halo opened #5 "go get app/ undefined: Asset"
Any idea why this is happening on fresh clone?
[code]

[2015-09-23 12:37] olebedev commented on #5
@m1halo thanks for this report!

Actually there is no any problems with `undefined: Asset`. That warning was thrown because there is no `bindata.go` file which should be created at the compile time. You just may ignore this at first time.

But, I had just found some interesting bug with javascript's dependencies. I leave this issue opened and I will fix it today, stay tuned.

[2015-09-23 12:56] olebedev commented on #5
@m1halo now it should works, take a look https://github.com/olebedev/go-starter-kit/commit/5e7c5083b55e8e68303b15cc1aa8f89f264c4ddc

[2015-09-24 10:57] jgautheron commented on #1
:+1:

[2015-09-24 18:33] deyolfson commented on #1
Hey Friend,
Hope your Thursdays is going well. It was nice to meet you. Here is my
contact info and resume.

David Eyolfson
707-631-6001
deyolfson@gmail.com
http://www.eyolfsondesigns.com
(resume attacted)

Cheers

On Thu, Sep 24, 2015 at 3:57 AM, Jonathan Gautheron <
notifications@github.com> wrote:

[2015-09-30 04:30] girishso opened #7 "Restart go server on change"
Is it possible to auto restart the go server on .go file changes? The only way I know right now is restarting `make serve`.

May be using https://github.com/codegangsta/gin or my current favorite https://github.com/alexch/rerun

[2015-09-30 05:03] olebedev commented on #7
Actually, it should works with `make serve`. There is the rule that [runs fswatch](https://github.com/olebedev/go-starter-kit/blob/master/Makefile#L31) to looking for changes.

What is your dev environment?

[2015-09-30 05:12] girishso commented on #7
I am on Mac OS X Yosemite. Somehow it's not working for me!

[2015-09-30 05:19] girishso commented on #7
Oh I didn't have `fswatch`... `brew install fswatch` fixed it!

Thank you!

[2015-09-30 05:28] olebedev commented on #7
:+1:

[2015-09-30 05:28] #7 closed

[2015-10-01 07:16] xiongxin opened #8 "Can you do some api for user login&logout in starter-kit？"
Can you do some api for user login&logout in starter-kit？
1. base user table in database
2. api for login&reg&logout

so we can easier to start coding project.

[2015-10-01 08:41] olebedev commented on #8
Thanks @xiongxin for your suggestion.
I don't think that is good idea to add some authentication stuff. It is up to you how to organize your data flow and which database to use. This is just starter kit to show how-to. This is not a framework.

[2015-10-01 08:41] #8 closed

[2015-10-07 21:01] dimroc opened #9 "Unable to run `make serve` following instructions in README"
I get three compiler errors around g-bindata:

1. src/github.com/dimroc/go-starter-kit/src/app/server/app.go:64: undefined: Asset
2. src/github.com/dimroc/go-starter-kit/src/app/server/app.go:65: undefined: AssetDir
3. src/github.com/dimroc/go-starter-kit/src/app/server/react.go:191: undefined: Asset

I have done nothing with the included deps.json, which is where I should probably start looking.

[2015-10-07 21:05] dimroc commented on #9
I mucked around with the src/ path when I shouldn't have.

[2015-10-07 21:05] #9 closed

[2015-10-08 05:09] olebedev commented on #9
@dimroc btw, [srlt](https://github.com/olebedev/srlt) used here instead Godep, check it if you need to ensure that deps are actual.

[2015-10-09 22:47] richardcrichardc opened #10 "GSK does not build after fresh pull"
[code]

Looks like the file declaring Asset and AssetDir may not have been added when commiting c6c0ff50c8f312d. Or maybe I am just being daft.

[2015-10-10 03:42] olebedev commented on #10
Nope, that's okey. Maybe this helps https://github.com/olebedev/go-starter-kit/issues/5.

[2015-10-10 03:42] #10 closed

[2015-10-10 14:50] charl opened #11 "A sample app would be really helpful"
There are a lot of moving parts to this setup and a sample app (say something like https://facebook.github.io/flux/docs/todo-list.html) would be really helpful.

[2015-10-12 05:10] olebedev commented on #11
You mean docs that described whats is going on or just simple app?

Btw, there is everything exactly like any regular isomorphic application except server rendering and data fetching. Good news that data fetching via [fetch polyfill](https://github.com/olebedev/go-duktape-fetch). It is new standard for client/server communication, see [here](https://fetch.spec.whatwg.org/).

Whatever, docs are req

[2015-10-14 13:55] charl commented on #11
I'd be happy to give you a hand @olebedev but I am just starting down this road.

I had a simple app in mind that illustrates how everything fits together as well as a description of the tooling you use to build apps with go-starter-kit for total beginners.

If there's anything a beginner can help with, in terms of documentation, let me know and I'll pitch in.

[2015-10-15 16:53] olebedev commented on #11
Hey @charl, thanks for you help. I am really appreciate it. And it seems that no need to be extraordinary experienced Gopher to improve README file here. All that we need just describe all steps in detail in some understandable way.

So, what about the new shiny application? At this moment I don't see any reason to develop something new. Because the existing app shows all specific isomorphic rende

[2015-10-19 10:24] gedw99 opened #12 "setup issues"
go: 1.5.1
node: v0.12.7

Installing and grabbing the node mobules seems ok:
[code]

gedw99-MacBook-Pro:go-starter-kit apple$ ls
Makefile		node_modules		webpack.config.js
README.md		package.json		webpack.hot.config.js
deps.json		src
gedw99-MacBook-Pro:go-starter-kit apple$ export GOPATH=`pwd`
gedw99-MacBook-Pro:go-starter-kit apple$ echo $GOPATH
/Users/apple/Workspace/go/x/go-starter-kit
gedw99-Mac

[2015-10-19 10:29] olebedev commented on #12
It looks like you have no go-bindata executive file at `$GOPATH/bin/`. Could you provide an output of `ls -la $GOPATH/bin/`?

[2015-10-19 10:35] gedw99 commented on #12
Hey

[code]

[2015-10-19 10:36] gedw99 commented on #12
I just tried to install, but no dice:

[code]

[2015-10-19 10:41] olebedev commented on #12
Actually it should work, as I see. Make sure that your $GOPATH is correctly defined.

[2015-10-19 10:42] gedw99 commented on #12
It is !!

[code]

[2015-10-19 10:45] gedw99 commented on #12
![image](https://cloud.githubusercontent.com/assets/155690/10575788/320bee4e-765f-11e5-8f18-9d35117c252e.png)

[2015-10-19 11:01] gedw99 commented on #12
this is the normal go setup i have, so the bin works.

Maybe you should update the readme ?

[code]

[2015-10-19 11:01] #12 closed

[2015-11-01 18:45] #1 closed

[2015-11-02 17:44] olebedev opened #13 "Migration to Duktape 1.3"
Waiting for olebedev/go-duktape/pull/28

[2015-11-04 16:33] #13 closed

[2015-11-16 22:34] ramboza opened #17 "slow performance"
Awesome work !

But a bit slow (just 16 resp/sec)

[code]

[2015-11-17 06:44] olebedev commented on #17
First of all you testing a dev server that loads react app each time, per request It's toooooo slow, of course. Also you testing a node.js proxy.

To test production performance you need to build app for production and start it like that:
[code]
and test it with
[code]

Duktape itself slower than v8 about 2-5 times. There is bad news - react apps render is pretty slow an node.js too. It depends of

[2015-11-17 06:44] #17 closed

[2015-11-19 12:29] zjx-immersion opened #18 "Build failed following the Readme"
When i run the go get app is will tips:
~GOPATH git:(master) go get app
# app/server
src/app/server/app.go:65: undefined: Asset
src/app/server/app.go:66: undefined: AssetDir
src/app/server/app.go:72: undefined: Asset
src/app/server/app.go:72: undefined: AssetDir
src/app/server/react.go:185: undefined: Asset

but when i ran the make serve ,it still success. then i ran the go get app, all good.
do y

[2015-11-19 12:31] olebedev commented on #18
It because at the first time you don't have generated `bindata.go` file. See: https://github.com/olebedev/go-starter-kit/issues/5

[2015-11-19 12:31] #18 closed

[2015-11-24 08:58] olebedev opened #19 "Add static typing via Flow"
https://github.com/facebook/flow

[2015-11-25 13:01] olebedev commented on #17
Due to performance improvement there are new benchmarks - **Requests/sec:	432.2885** for OS X 10.10.4 (14E46), 2,7 GHz Intel Core i5, 8 GB 1867 MHz DDR3

/cc @ramboza

Full _boom_ output is:
[code]

[2015-11-25 13:16] ramboza commented on #17
Wow Oleg, 2x faster!! Thanks !!

[2015-11-25 14:37] javiercbk commented on #11
I'm making a quick single page app with a login (no database) just to see how that scenario would play out.

There are a couple of things I'm interested in:

* How to render two templates (login and home page) using the react render. I know I could render the whole app without making a redirect, but I want to reduce the amount of js and css in the login page.
* Use boostrap with react-boostrap. Ev

[2015-11-27 22:43] ezeql commented on #19
This would be great!

[2015-12-01 06:34] ezeql opened #21 "cannot build project."
Followed instructions and ...
[code]

[2015-12-01 06:38] olebedev commented on #21
@ezeql please have a look https://github.com/olebedev/go-starter-kit/issues/5

[2015-12-01 06:38] #21 closed

[2015-12-01 06:39] olebedev commented on #5
It seems that it would be better to solve that instead of pick up this issue each time.

[2015-12-10 02:44] dimroc opened #23 "Default index.html uses bootstrap and sass out of box"
I feel like supporting bootstrap from the get go would be a huge win.

Or perhaps in the upcoming README, you discuss how to add bootstrap and sass.

[2015-12-10 06:11] olebedev commented on #23
One of the benefits of this project to show how to use _css-modules_. Using of _bootstrap_ is not assumed but is possible.

There are no any barriers for adding _twitter bootstrap_ or _saas_.  Only what you need just add `bootstrap.css` into [`react.html`](https://github.com/olebedev/go-starter-kit/blob/master/src/app/server/data/templates/react.html) file. Or change _stylus_ to _sass_ in  [`webpa

[2015-12-10 06:11] #23 closed

[2015-12-10 21:42] dimroc commented on #23
What's the recommended way of adding sass to the following piece of code in `webpack.config.js` to support both sass and stylus?

[code]

[2015-12-10 21:57] dimroc commented on #23
After some more tinkering I have a few lingering errors. Here is my current webpack.config.js:
https://gist.github.com/3f1d722c61a144aa7034

I often get this issue:

![new_tweet_city](https://cloud.githubusercontent.com/assets/635121/11729751/f06ae9c6-9f5e-11e5-9c87-0613cff1fe72.jpg)

Thanks for all the work so far. I'm using this as a starter-kit so I'm hoping it will be easy to get up and runnin

[2015-12-11 17:18] dimroc commented on #23
Got it all together but it took a while. Granted, I wasn't terribly familiar with webpack loaders.

1. `npm install sass-loader node-sass bootstrap-sass-loader bootstrap-sass url-loader --save-dev`
2. webpack.config.js: https://gist.github.com/dimroc/3f1d722c61a144aa7034
3. For proper hot reloading, you need to `require` the top level scss file in css/index.js, as you've done here:
    https://git

[2015-12-12 06:20] olebedev commented on #23
@dimroc thanks for the tips. They are quite interesting for the man who uses bootstrap and/or sass.

[2015-12-12 06:25] olebedev commented on #23
So 'window undefined' error probably because some bootstrap internals require window object for initialization. It's not only this project's issue but all isomorphic apps' as well.

[2015-12-12 15:03] dimroc commented on #23
Ah. I never thought of that. Thanks for the insight.

[2015-12-15 01:33] dimroc opened #24 "Easy way to turn off server side JS rendering"
I'm running into JS issues when trying to render the JS on the golang server via duktape.

Is there a line of code I can comment out or a command line I can use to toggle off server side JS rendering? I've been mucking around in here:

https://github.com/olebedev/go-starter-kit/blob/1e850a27135f90e85981c0bcc18d4df032aa1337/src/app/server/react.go#L65

I'm ultimately trying to use redux with react-

[2015-12-15 04:07] olebedev commented on #24
Easy way to discard server side JS rendering is adding your own handler instead of `app.React.Handle`. For example, it could be added [here](https://github.com/olebedev/go-starter-kit/blob/master/src/app/server/app.go#L122) as well.

It's pretty easy to write own:
[code]

Then replace `return app.React.Handle(c)` to `return noJsRender(c)`. That's it.

[2015-12-15 04:07] #24 closed

[2015-12-15 14:32] dimroc commented on #24
Thanks Oleg

On Mon, Dec 14, 2015 at 11:08 PM Oleg Lebedev <notifications@github.com>
wrote:

[2015-12-30 09:19] doliver3 commented on #5
It would be best to update the readme than requiring the discovery of this issue upon a fresh clone as I just did searching Google.

[2015-12-30 09:22] olebedev commented on #5
Yup, @doliver3 you right. I'll do it right now.

[2016-01-10 10:04] simonz05 opened #25 "go-bindata-assetfs nil pointer"
I'm getting a nil pointer exception in production mode with the latest go-bindata-assetfs. Last working commit seems to be https://github.com/elazarl/go-bindata-assetfs/commit/d5cac425555ca5cf00694df246e04f05e6a55150

[2016-01-12 11:13] olebedev commented on #25
@simonz05 sorry, but I can not produce this bug. I have just checked the deps one more time and didn't get any errors. Could you provide more info code peaces and so on?

[2016-01-13 07:33] olebedev commented on #5
The problem is fixed.

[2016-01-13 07:33] #5 closed

[2016-01-13 16:42] olebedev commented on #25
@simonz05 I had just found the bug. It seems that it's a case of breaking changes. I would recommend using some dependency management tool to lock dependencies. Actually, I plug in my own into the project. Please, see [install](https://github.com/olebedev/go-starter-kit#install) section for details.

P.S.: I'll see that is the problem with go-bindata-assetfs soon.

[2016-01-13 16:42] #25 closed

[2016-01-16 18:25] magj2006 opened #27 "connect ECONNREFUSED 127.0.0.1:5000"
when i make serve, the output is :

Error: connect ECONNREFUSED 127.0.0.1:5000
    at Object.exports._errnoException (util.js:856:11)
    at exports._exceptionWithHostPort (util.js:879:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1063:14)

i type lsof -i:5000, nothing output.

[2016-01-17 12:19] olebedev commented on #27
Could you paste the output of the `env` command?

[2016-01-20 16:54] magj2006 commented on #27
Thanks so much.
the output is in env_output.txt
[env_output.txt](https://github.com/olebedev/go-starter-kit/files/97745/env_output.txt)

[2016-01-20 17:02] olebedev commented on #27
It's strange a bit. I didn't see anything what can be the cause of it. What is output of `go build -o $GOPATH/bin/app`. Is the binary there after this command?

[2016-01-21 04:38] magj2006 commented on #27
it happened when i modify some file.

i typed  go build -o $GOPATH/bin/app, nothing output.  but i can see app file.

cloud@ubuntu:~/Code/gsk$ ls -l bin/app
-rwxr-xr-x 1 cloud cloud 14010368 Jan 21 12:33 bin/app

[2016-01-21 04:46] olebedev commented on #27
Please try to reproduce this [steps](https://github.com/olebedev/go-starter-kit/blob/master/Makefile#L42-L45) and make sure that you have all [dependencies](https://github.com/olebedev/go-starter-kit#dependencies)(particularly `fswatch`) installed.

[2016-01-21 05:24] magj2006 commented on #27
yea, i do it by your steps: 1. npm i 2.export GOPATH=`pwd` 3.srlt r && srlt e go install {{.Name}}/...  4.make serve
it's good, but when I modify some file,  it output ECONNREFUSED 127.0.0.1:5000 and many restart app...

cloud@ubuntu:~/Code/gsk$ which fswatch
/opt/apps/fswatch/bin/fswatch

[2016-01-21 05:32] olebedev commented on #27
Hm, I cannot reproduce this bug because I on Mac OS and it works well for me.

It looks like that Golang server is terminated but not restarted. Try to do it manually step-by-step from makefile rules with each step total checking.

[2016-01-21 05:35] olebedev opened #28 "Devtools update"
Need to update DevTool for the latest version. Could you @zoetrope send a PR with these changes? As I see you already did it at your fork. Thanks.

[2016-01-21 05:40] magj2006 commented on #27
Okay, I try it.  thanks so much.

[2016-01-22 02:34] bep opened #29 "Add open license"
This looks great, but is unusable without a license.

[2016-01-22 05:45] #29 closed

[2016-01-23 14:51] whatisgravity commented on #11
This would be very helpful, I learn better form example and I would like to start using this as the basis for my projects.

[2016-01-23 14:54] whatisgravity commented on #9
I get a panic when using srlt as described in the readme

    panic: exit status 128

Anyone have any experience with this?

[2016-01-23 18:50] olebedev commented on #9
@whatisgravity could you provide the full output and the command that you typed?

[2016-01-24 01:54] whatisgravity commented on #9
I apologize, I got it working after I correctly built the binaries

[2016-01-24 15:09] olebedev commented on #11
Obviously, It is hard to start different projects in the current state as it overengineered a bit. Now it looks like a framework and this is the problem. BTW, the same starter kits based on node.js overengineered as well. The project needs to be simplified.

As mentioned, I need help with it. In particular, I need to know what is the most important part for you. It could be the matter when I will

[2016-01-24 18:19] whatisgravity commented on #11
I think a simple todo list that provides a CRUD example would be very helpful. With how much is there it is hard to see where to start.

[2016-01-25 10:21] olebedev commented on #27
Closed. Feel free open it if needed.

[2016-01-25 10:21] #27 closed

[2016-01-25 14:35] Kielan commented on #11
@olebedev Correction as I got ahead of myself, I am still re writing the makefile. Some documentation on what LDFLAGS is doing as well as BINDATA would be helpful. I don't see a bindata.go file in the server folder.

In general I don't want to have any version control method forced upon me.

I'm not sure why you are telling people to reset their gopath to a more specific folder, as the project sho

[2016-01-25 16:07] Kielan opened #30 "local import "./server" in non-local package"
I've decided to create my own issue ticket so that we can solve the most pressing concerns of this start kit so that I can contribute as well because I really like the idea I just think it needs a little bit more documentation.

on make serve I get the output
[code]

Not sure what the ./server being referred to as non-local package means.

[2016-01-26 21:59] JonathanRosado commented on #30
+1

[2016-01-28 15:11] simonz05 opened #31 "Production builds are including some dev resources"
`NODE_ENV=production make build` creates a js bundle which is `373K`. Removing the references to `redux-devtools` in client/ and running the same command again reduces the size by `~70K`.

[2016-02-01 09:15] EdVanDance commented on #31
[Here's](https://github.com/gaearon/redux-devtools/blob/master/docs/Walkthrough.md#exclude-devtools-from-production-builds) a fix.

[2016-02-01 09:18] olebedev commented on #31
Yep, thanks, @EdVanDance. It's just need to import by the condition. Define plugin already there. I'll fix it soon.

[2016-02-01 09:26] olebedev commented on #30
It seems that it is better to move all go code into project's root directory without any local import. It would be more flexable and independent.

[2016-02-01 13:35] simonz05 commented on #31
Yes, I've used the same docs as a reference for my personal branch of this.

On Mon, Feb 1, 2016 at 10:18 AM, Oleg Lebedev <notifications@github.com>
wrote:

[2016-02-01 14:38] olebedev commented on #31
@simonz05, would you send it as a PR?

[2016-02-04 11:53] #30 closed

[2016-02-04 13:28] olebedev commented on #31
Need to fix in #28.

[2016-02-12 19:01] olebedev commented on #28
The dev-tool update is done here #34. Now  dev-tools need to excluded from production build.

[2016-02-14 13:08] widnyana commented on #11
@Kielan if I simplify it, that command will install all the required dependency into `$GOPATH`

we know npm has `package.json` on the root dir and we can install it all via `npm i`, in golang the tools will iterate through `import` statement listed on the source code, and install all the package.

the bad news, `go get` doesnt handle package versioning. it will fetch the `master` branch, that's wh

[2016-02-18 01:21] hemantasapkota opened #35 "interface conversion: interface is runtime.errorString, not string"
When trying to run after successful build, the site displays:

[code]

[2016-02-18 02:19] olebedev commented on #35
Thanks for the report. It looks like it a go-duktape issue. Could you tell me the Go version and os/arch,

[2016-02-18 03:33] hemantasapkota commented on #35
Yep.

`go version devel +0417872 Mon Nov 23 04:04:07 2015 +0000 darwin/amd64
`

[2016-02-18 06:16] olebedev commented on #35
Thanks. Related issue already there https://github.com/olebedev/go-duktape/issues/34. If you still need to make go-starter-kit work please use Go 1.5.3. I'll fix it asap.

[2016-02-20 21:02] mrmayfield opened #36 "Can't get it to boot"
[code]

[2016-02-21 09:52] olebedev commented on #36
Which version of Golang do you use?

[2016-02-21 16:06] kelvinji2009 commented on #36
Can't boot too.

[LOG]
---
★  go-starter-kit git:(kdev) »make serve
Hash: b75f147d15b668a79458
Version: webpack 1.12.13
Time: 3183ms
     Asset     Size  Chunks             Chunk Names
 bundle.js  1.35 MB       0  [emitted]  bundle
bundle.css  9.44 kB       0  [emitted]  bundle
    + 652 hidden modules
Child extract-text-webpack-plugin:
        + 2 hidden modules
Child extract-text-webpack-plugin:

[2016-02-21 16:10] kelvinji2009 commented on #36
@olebedev BTW, i am using `srlt` following the build guide from README.md

[2016-02-21 16:44] olebedev commented on #36
@kelvinji2009, go 1.4.2 is not working with _GO15VENDOREXPERIMENT_, please use Go 1.5.3 instead.

[2016-02-21 17:30] louwers commented on #5
Is it though?
[code]

[2016-02-22 01:36] kelvinji2009 commented on #36
@olebedev Okay, got it. Thanks.

[2016-02-22 08:06] magj2006 commented on #36
@olebedev There is a same problem.
1. go version: go1.5.3 linux/amd64
2. I run srlt restore, and vendor directory is created.
ls -l vendor
drwxrwxr-x 12 cloud cloud 4096 Feb 22 15:54 github.com
drwxrwxr-x  3 cloud cloud 4096 Feb 22 15:54 golang.org
drwxrwxr-x  4 cloud cloud 4096 Feb 22 15:54 gopkg.in
3. I run make serve
...
/home/cloud/Code/go/bin/go-bindata -pkg=main -prefix=server/data -debug -o

[2016-02-22 08:17] olebedev commented on #36
@magj2006, sure. You need to install `go-bindata` directly. Run this command to do it: `go install github.com/jteeuwen/go-bindata`. I have just fixed `README.md`. Take a look it again.

[2016-02-22 09:49] magj2006 commented on #36
@olebedev I installed go-bindata, and run make serve again, output :
server/app.go:8:2: cannot find package "github.com/elazarl/go-bindata-assetfs" in any of:
	/opt/apps/go/src/github.com/elazarl/go-bindata-assetfs (from $GOROOT)
	/home/cloud/Code/go/src/github.com/elazarl/go-bindata-assetfs (from $GOPATH)
server/app.go:9:2: cannot find package "github.com/itsjamie/go-bindata-templates" in any of:

[2016-02-22 16:05] kelvinji2009 commented on #36
[code]

[code]

---

★  go-starter-kit git:(kdev) »make serve
Hash: b75f147d15b668a79458
Version: webpack 1.12.13
Time: 3061ms
     Asset     Size  Chunks             Chunk Names
 bundle.js  1.35 MB       0  [emitted]  bundle
bundle.css  9.44 kB       0  [emitted]  bundle
    + 652 hidden modules
Child extract-text-webpack-plugin:
        + 2 hidden modules
Child extract-text-webpack-plugin:

[2016-02-22 18:52] olebedev commented on #36
@kelvinji2009, yup. Put the code into somewhere in '$GOPATH/src'.

[2016-02-23 10:40] #35 closed

[2016-02-23 11:56] hemantasapkota commented on #35
Thanks a lot for the fix. I just updated the master. It works!! with Go 1.6

[2016-02-24 04:11] mrmayfield commented on #36
Okay I'm only working with Go on a weekend project, I will come back to this though, for the record I am running 1.4.2 at the moment but will upgrade and see what happens on Saturday.

[2016-02-24 04:56] olebedev commented on #36
As I see all that you need just update go version up to 1.6. Go's 1.4
linker doesn't accept LDFLAGS which are defined at this moment in Makefile.

On Wed, Feb 24, 2016 at 9:11 AM, Anthony Mayfield <notifications@github.com>
wrote:

--
Oleg Lebedev
+7 922 1505553

[2016-03-05 17:35] #36 closed

[2016-03-05 17:55] #28 closed

[2016-03-05 17:55] #31 closed

[2016-03-05 18:07] olebedev opened #37 "Add swagger description generator"

[2016-04-08 08:09] wenxingxing2011 opened #43 "cannot import absolute path"
sorry ,i am a newerr. when i make serve,i got this problem.
my system is win10 and have cygwin env.

![image](https://cloud.githubusercontent.com/assets/8664961/14377589/131cee0e-fda3-11e5-9104-d933642ea5a8.png)
![image](https://cloud.githubusercontent.com/assets/8664961/14377602/29e36906-fda3-11e5-90c9-b03c3bf01340.png)
![image](https://cloud.githubusercontent.com/assets/8664961/14377756/0e2a04d0

[2016-04-08 08:48] olebedev commented on #43
It won't works on Windows/Cygwin because of backslashed `$GOPATH`. I would recommend trying a native command line interpreter which is released a couple days ago. Meaning, ubuntu within Windows 10 natively.  Please let me know how it works If you try it.

Another option is using dockered workspace.

[2016-04-08 08:48] #43 closed

[2016-04-12 19:39] u382514 opened #44 "Install Not Working - Echo"
Went through install instructions on README on fresh go 1.6 install. On MAKE SERVE it is crashing stating "cannot find pkg github.com/labstack/echo" in "vendor/gopkg.in/labstack/echo.v1/middleware/auth.go:7:2"

Of course if you do a "go get" on that package it crashes with all kinds of error messages. What's the best way to get past this error?

[2016-04-12 20:24] u382514 commented on #44
UPDATE: Changing the srlt.yaml file and running srlt restore for the following pacakges/commit ID's seems to have fixed the issue for me.

gopkg.in/labstack/echo.v1: f12d77f9cf7a374fa39e2e029a439c55e59dbc91
github.com/labstack/gommon: f8343700e8769e645b5f9949ec2e3a69f9fd71eb

[2016-04-13 05:33] olebedev commented on #44
Hi @u382514,

thanks for your report. I have just merged #42 PR and it seems the problem is solved. If you still have a problem with it, please let me know.

[2016-04-13 05:33] #44 closed

[2016-04-28 16:41] ricochet2200 opened #46 "Why does go-starter-kit need to be installed in $GOPATH/src?"
I don't need a full explanation if someone could just point me to some code or docs, but I'm trying to understand why  go-starter-kit needs to be installed in $GOPATH/src.

I have a production react on rails project that is having some performance issues (shocker I know).  I'm attempting to use have rails redirect slow routs to this project.  Overtime I'd like to move off rails completely.  I've s

[2016-04-28 17:08] olebedev commented on #46
Hi @ricochet2200,

the reason that the project needs to be somewhere in `$GOPATH` is correct work with `./vendor/` folder.

There at least two ways to solve your issue:

* Reset `$GOPATH` to the current folder. But, you have to rewrite some of _makefile_ rules in this case. This is bad advice because `$GOPATH`'s reset known as bad practice.
* Symlink the folder with your react component right into

[2016-04-28 17:22] ricochet2200 commented on #46
Thanks for your quick response, we'll probably end up using the symlink.

To make sure I understand, does `./vendor` have this requirement because of `srlt` or is it the requirement only for *this* project?

[2016-04-28 17:26] olebedev commented on #46
`./vendor`folder  is convention of go toolchain. Read the spec for more info. _slrt_ and this project just follow it.

[2016-04-28 17:29] ricochet2200 commented on #46
Thanks.

[2016-04-28 17:29] #46 closed

[2016-05-08 09:24] valerius257 opened #47 "Doesn't work with React 15.0"
After updating React to 15.0 everything compiles successfully but project doesn't start.

![capture](https://cloud.githubusercontent.com/assets/5458823/15097015/61865b76-1517-11e6-8dab-206af7ad3d90.PNG)

[2016-05-10 04:55] olebedev commented on #47
Thank for the report.  Once I'm fix it I'll ping here.

[2016-05-14 10:12] nbjahan commented on #47
This is a **React** bug caught by **Ducktape**!
The problem is an invalid escape char in one of the regexes introduced in this commit: https://github.com/facebook/react/commit/a2b471e09850f1546fd2526149fc04992cb85b80

here is the patch: https://github.com/facebook/react/pull/6772

P.S. It would be useful to see the stack trace in this situations [server/react.go#L180](https://github.com/olebedev/g

[2016-05-14 18:23] valerius257 commented on #47
I could confirm that using React from [32c750de5c47436168b742275ebe21852dcca172](https://github.com/facebook/react/commit/32c750de5c47436168b742275ebe21852dcca172) solved the issue

[2016-05-24 13:26] kockok commented on #11
A sample app with user authentication would be perfect! And how about production deploy on a VPS?

[2016-05-24 21:20] olebedev commented on #11
Hi @kockok,
a sample app with user authentication is not the case for this repo. Bit I REALLY appreciate if some could do it separately.
Regarding deployment, you could just add _deploy target_ as [CI derective](https://github.com/olebedev/go-starter-kit/blob/master/wercker.yml). Wercker allows us to deploy built artifact everywhere we want.

[2016-05-27 08:03] kockok commented on #11
I found this client side auth pretty neat. https://github.com/lynndylanhurley/redux-auth

[2016-06-09 07:06] tarqe39 opened #48 "Ignore go build failure in makefile"
Hi,
there seems to be a problem when you modify go code, and makefile tries to rebuild server. If there is any compile time error the makefile recipe crashes.

Possible soultion would be prefixing build command with - :
-@go build -ldflags '$(LDFLAGS)' -o $@ $(IMPORT_PATH)/server

[2016-06-09 07:49] olebedev commented on #48
Hi @tarqe39,

thank you for the suggestion! BTW, pull requests are welcome.

[2016-07-01 08:31] maxsonic opened #49 "[Document]I think there should be some document on the onEnter part..."
I have encountered lots of bugs related with onEnter method. All those bugs are caused by my code, but I see no error message on the console:(..

To successfully debug the bug in the onEnter method, one should be warned that even a small syntax error will result in malfunction and the server side rendering will not work. Hence, one should run the code on the client side first and then move to the

[2016-07-06 09:42] olebedev commented on #49
Hi @maxsonic,

thanks for your message.

Actually, you should see the error message at the client-side, if the problems was caught at server-side. Have a look - [this](https://github.com/olebedev/go-starter-kit/blob/master/server/data/templates/react.html#L10) and [this](https://github.com/olebedev/go-starter-kit/blob/master/server/react.go#L53-L60).

Isomorphic render assumes that you got already

[2016-07-06 09:42] #49 closed

[2016-08-12 07:28] abh commented on #47
Close this?

[2016-08-12 07:28] abh opened #51 "deprecated autoprefixer-loader"
running npm install gives this warning:

`WARN deprecated autoprefixer-loader@3.2.0: Please use postcss-loader instead of autoprefixer-loader`

[2016-08-12 09:58] olebedev commented on #51
Hi @abh,

thanks for the report! Actually, I know about it. And it a lot of work to replace by `postcss-loader`.  I will do asap.

[2016-08-12 10:00] olebedev commented on #47
@abh yup!

[2016-08-12 10:00] #47 closed

[2016-08-13 21:08] ijsnow opened #52 "Store not getting set on client side during SSR"
So my mind is kind of being blown right now. I have some code that is essentially copy and pasted from the usage example, but the result from my fetch is not getting stored in the redux store on the client side. I log the data in each step along the way from the `then` from my fetch in the `onEnter` method to the redux action to the reducer then to the render for the component. On the server side

[2016-08-15 02:42] olebedev commented on #52
Hi @ijsnow,

thanks for playing with this project.

First, check the initial data from server here - https://github.com/olebedev/go-starter-kit/blob/master/client/router/index.js#L18. Need to check what `window['--app-initial']` contains.

[2016-08-15 05:09] ijsnow commented on #52
@olebedev if I log out those values like so...

[code]

I get
`'window[\'--app-initial\']: ' {}`
and
`store: { config: {}, content: {} }`

[2016-08-15 05:13] olebedev commented on #52
Ok, next you could log [here](https://github.com/olebedev/go-starter-kit/blob/master/client/router/toString.js#L48) and _curl_ your page to ensure that [this](https://github.com/olebedev/go-starter-kit/blob/master/server/data/templates/react.html#L41) `script` tag filled out as expected.

[2016-08-15 05:31] ijsnow commented on #52
@olebedev I get `console.info('result.initial:', result.initial); -> result.initial:  {"config":{},"content":{}}`

And the rendered script tag is:
`<script onload="this.parentElement.removeChild(this)">window['--app-initial'] = JSON.parse("{}");</script>`

The usage page still behaves correctly. I'm sure I'm missing something crucial but I can't imagine what.

[2016-08-18 11:46] TianDaGe opened #53 "command "make serve" is failed."
![1](https://cloud.githubusercontent.com/assets/15997235/17772441/bd4e5a86-64fd-11e6-9ffe-88afbf810628.png)

![1](https://cloud.githubusercontent.com/assets/15997235/17772472/f1d75a0a-64fd-11e6-9037-68c4b4c1080a.png)

Hello, I tried to make server by using go-starter-kit.
I success "slrt restore" comand and it made vendor directory in go-start-kit directory.
Actually, I copied and past your releas

[2016-08-18 12:00] olebedev commented on #53
Hi @TianDaGe,
sorry, windows are not supported for now. Please, use some unix-like system.

[2016-08-18 12:00] #53 closed

[2016-08-18 12:21] TianDaGe commented on #53
currently, I am trying on mac os x. but issue is same
<img width="578" alt="screen shot 2016-08-18 at 8 23 10 pm" src="https://cloud.githubusercontent.com/assets/15997235/17773499/5e980dc8-6581-11e6-9e45-09cfb3a59c84.png">

[2016-08-21 06:21] TianDaGe opened #54 "update echo web framework"
Thanks, Olebedev.
I installed go-starter-kit on my mac book after check some issues that posted before.
I have one request,
Echo is updated to v2.0, there are some issues to update echo in go-starter-kit.
Please help me, can you update the go-starter-kit with echo 2.0?

Thanks,

[2016-08-21 08:10] olebedev commented on #54
Sure, it's a good practice to keep all project's dependencies up-to-date. Due to time lack, I cannot do it quickly. Any pull request will be a really appreciated.

[2016-08-22 01:58] TianDaGe commented on #54
Hello, Sir
I am facing below issues.

<img width="667" alt="screen shot 2016-08-22 at 9 56 05 am" src="https://cloud.githubusercontent.com/assets/15997235/17841761/ac74efb4-684e-11e6-9875-10939cea5ce5.png">
// Initialize the application
	app := &App{
		Conf:   conf,
		Engine: engine,
		API:    &API{},
		React: NewReact(
			conf.UString("duktape.path"),
			conf.UBool("debug"),
			engine,
		),
	}
..

[2016-08-26 18:39] rtuin commented on #54
I've found a fork that upgrades to echo v2 here: https://github.com/phuongvu/go-starter-kit/commit/43f456fe8b8f387f1f27c06100358c4f40b2ab7c
I'm not sure what the quality is, but perhaps this is a good starting point!

[2016-08-27 05:17] olebedev commented on #54
@rtuin,

https://github.com/phuongvu/go-starter-kit/commit/43f456fe8b8f387f1f27c06100358c4f40b2ab7c looks good to me.

[2016-09-02 09:36] rtuin commented on #54
I created #55 to address the upgrade to echo v2

[2016-09-14 15:43] siegesmund opened #57 "Cannot Import Absolute Path"
Using Golang 1.7.1 on Mac OSX 10.11.6.
Cloned go-starter-kit to ```$GOPATH/src/github.com/<username>/<projectname>```

Followed build instructions with ```npm i``` -> ```srlt restore``` -> ```make serve```
Also tried ```make install``` -> ```make serve```

Either way, I get the following error with ```make serve```:
[code]

[2016-09-18 10:14] vuongngo commented on #52
I'm not sure if this causes your problem. Duktape implementation does not include Object.assign which might throw an error. I'm wondering if adding Object.assign polyfill improve your situation. Cheers

[2016-09-19 05:02] olebedev commented on #52
@vuongngo this is not a problem if you use babel.js. Check [this](https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015%2Ces2015-loose%2Ces2016%2Ces2017%2Clatest%2Creact%2Cstage-0%2Cstage-1%2Cstage-2%2Cstage-3&experimental=false&loose=false&spec=false&code=const%20onResize%20%3D%20event%20%3D%3E%20(%7B%0A%20%20...event%2C%0A%20%20oneMore%3A%20'property'%2C%0A%7D)) out.

[2016-09-19 07:03] vuongngo commented on #52
Thanks @olebedev . My bad, I thought it was included in configuration. Adding babel-polyfill solves it nicely.

[2016-09-21 17:04] sebastianmacias commented on #57
+1 exact same issue Golang 1.7.1 Ubuntu 14.04

[2016-09-22 04:35] olebedev commented on #57
@siegesmund, @sebastianmacias
what is the output of `go env` regarding this project?

[2016-09-26 16:07] kafeltz commented on #57
Same problem here, I could find a way to work around.

[2016-10-01 03:34] rushstrike commented on #57
I had that absolute path error. Then I did sudo npm i  , srlt restore,   then when I did make install it gave me a permission denied to $GOPATH/bin/on   .

Then i did npm i, make install,  then when trying make serve it says $GOPATH/bin/on permission denied again.

I finally did sudo chown -R `whoami` $GOPATH   and everything is working again.

[2016-10-01 03:36] rushstrike opened #59 "Deploy to openshift host"
Openshift now supports Go. Anyone has an idea on how to configure this starter kit to make it deployable to openshift? Thank you in advance.

https://github.com/smarterclayton/openshift-go-cart

I need to combine the link above with this project for deployment I think.

[2016-10-01 06:01] olebedev commented on #59
The best way to deploy this project is to build a single binary artifact, as it already configured and push the executable wherever you want.

Example hiw to build you could find in readme.md and werker.yml

However, I'm not sure that OpenShift supports binary executable files.

[2016-10-01 06:03] #59 closed

[2016-10-03 13:24] gameiro9k opened #60 ""panic recover interface conversion: interface is *errors.errorString, not string" when sending get request"
I am trying to serve the app on vm ubuntu x64 using vagrant. After install Go v1.7.1, Node.Js v6.7.0 I set enviropment variables: `export GOPATH=pwd
export PATH=$PATH:$GOPATH/bin
export GO15VENDOREXPERIMENT=1
cd bin
export GOBIN=$(pwd)
export PATH=$PATH:/usr/local/go/bin:$GOPATH/bin`.
Then I was installed all dependencies runing `make install` and build it by `make build`.
When I start the server

[2016-10-03 19:31] olebedev commented on #60
Hi @gameiro9k,

could you attach stack trace and diff which was applied(if any) here?

[2016-10-04 05:51] gameiro9k commented on #60
Hello, @olebedev , here it:
`panic recover
 interface conversion: interface is *errors.errorString, not string
 stack trace 6218 bytes
 goroutine 7 [running]:
gopkg.in/labstack/echo.v1/middleware.Recover.func1.1.1(0xc420073300)
	/home/vagrant/fsAdventCalendar/src/gopkg.in/labstack/echo.v1/middleware/recover.go:20 +0xbc
panic(0x90b340, 0xc4201c0200)
	/usr/local/go/src/runtime/panic.go:458 +0x243
ma

[2016-10-05 04:26] virusvn commented on #57
I faced with this problem, and it's happened by symbolic link.
Example: $GOPATH=/Volumes/Dev/go
and I make a symlink to  "/Users/me/go"
Then, when I run "make serve" from "/Users/me/go/src/github.com/olebedev/go-starter-kit", It will through an error "Cannot Import Absolute Path"
So, the solution in my case is run "make serve" from directory:
"/Volumes/Dev/go/src/github.com/olebedev/go-starter-kit

[2016-10-05 05:31] olebedev commented on #57
Thanks @virusvn.
The problem could be solved by `cd $GOPATH/src/github.com/<username>/<project>`as was mentioned in `README.md`.

[2016-10-05 05:31] #57 closed

[2016-10-15 08:56] CKing opened #61 "Websockets"
Could you extend the server with support for Websockets?

[2016-10-15 09:01] olebedev commented on #61
Hi @CKing,

it requires the similar as [fetch](https://github.com/olebedev/go-duktape-fetch) _duktape_ polyfill. Due to lack of time, have no chance to deliver it in nearest future.

But, always open to PRs from good people.

Thanks for using this project.

[2016-10-15 09:01] #61 closed

[2016-10-18 20:04] geir54 commented on #11
I've started playing around with this in https://github.com/geir54/go-starter-kit if any one is still interested

[2016-10-19 03:41] olebedev commented on #11
@geir54, looks good to me. Please, send a PR when you finish

[2016-10-19 10:00] geir54 commented on #11
@olebedev Do you want this as part of this repo? I was thinking to have a seperate full app repo

[2016-10-19 10:02] olebedev commented on #11
@geir54, yup, it would be better. I will point the app in readme.

[2016-10-25 06:06] kockok commented on #11
I'm still struggling to deploy on a VPS(Digitalocean). I used to using Capistrano for that. Any tools similar for this kit? Thanks.

[2016-11-16 15:43] flamedmg commented on #54
Echo V3 is out.

[2016-11-24 20:35] iKonrad commented on #53
I had the same issue and it was because I had my repo outside of the Go workspace.
Make sure to clone your repo project to: $GOPATH/src/github.com/<username>/<Projectname>/

[2016-11-24 22:11] iKonrad commented on #23
@dimroc Hi, I'm trying to do the same thing!
I know the post is like a year old, but maybe you have your final implementation files handy?

I've installed the packages and copied over your webpack file and got rid of post-css references and I'm getting some weird issues in go:

`panic recover
 interface conversion: interface is *errors.errorString, not string
 stack trace 5296 bytes
 goroutine 14

[2016-11-24 22:17] iKonrad commented on #23
Ah I forgot to change the path to the output js file. Now the page loads fine although I'm getting the 'window' error. Any idea how to go around that?

[2016-11-26 13:25] iKonrad commented on #11
@kockok I've used flightplan.js for my previous project. I see no reason why it wouldn't work with this one. It's quite simple to set up and extend.

[2016-11-30 16:30] ijsnow commented on #52
By the way @olebedev, I'm not working on this anymore. Feel free to close this issue. It may be mucking up the issue list.

[2016-11-30 16:33] #52 closed

[2017-01-07 02:22] apurohitm opened #62 "Makefile:19: *** target pattern contains no `%'. Stop."
I  am transitioning from Java to Go, trying to build a web application with some UI.

After cloning repo I am running make install, but I am getting this error.

Makefile:19: *** target pattern contains no `%'.  Stop.

Please let me know if I have missed anything.

[2017-01-07 02:31] olebedev commented on #62
Hi @apurohitm,
which Golang version do you use?

[2017-01-07 18:30] apurohitm commented on #62
Thanks for reply @olebedev

Below is the version.

go version go1.7.3 darwin/amd64

[2017-01-07 19:23] olebedev opened #63 "Migrate to glide package management tool"
The link - https://glide.sh

[2017-01-11 16:30] #63 closed

[2017-01-13 20:12] moleculethor commented on #54
Hi, I am fairly new to Go, but base on the work from @phuongvu I tried to update Echo to v3. It seems to work for me (so far).

If anybody wants to check it out.
I apologies in advance, my knowledge of github and git in general is pretty limited.

gitlab.com/theloin/go-starter-kit

[2017-01-31 22:59] joelnb commented on #62
@apurohitm do you have a colon in your `$GOPATH`? I don't personally use it like that but it is a valid configuration as described [here](https://stackoverflow.com/questions/36017724/can-i-have-multiple-gopath-directories). If I add one I can reproduce this error:

[code]

The reason for this is similar to the answer [here](https://stackoverflow.com/questions/32125387/make-syntax-of-static-pattern

[2017-02-10 08:19] JulesAU opened #66 "Segfault in go-duktape when onEnter() subscribes to state"
My use case is: I'm testing a method of pre-fetching API data server side.

Inside the component's `onEnter()` I dispatch an async action (using redux-thunk) to fetch it, subscribe to state so I can wait for it to complete before calling `callback()`.

In doing so, I found duktape predictably segfaulting.

In order to reproduce it, I ported what I'm doing over to your `Usage` component example, an

[2017-02-15 05:35] epalaima opened #67 "Setup Instructions Not Working"
Hi, I cloned the repo and ran make install, which does not return any errors, but when I run make serve I get:

'go install /Users/Emmett/Desktop/go-starter-kit/vendor/github.com/olebedev/on
can't load package: package /Users/Emmett/Desktop/go-starter-kit/vendor/github.com/olebedev/on: import "/Users/Emmett/Desktop/go-starter-kit/vendor/github.com/olebedev/on": cannot import absolute path
make: **

[2017-02-15 06:04] olebedev commented on #67
Hi @epalaima,

what is the output of `go env` command?

[2017-02-15 16:26] epalaima commented on #67
[code]

[2017-02-15 16:52] olebedev commented on #67
Move project folder into GOPATH.

[2017-02-15 16:52] #67 closed

[2017-02-20 13:46] #62 closed

[2017-02-20 13:47] olebedev commented on #60
@gameiro9k, have a look at this #68

[2017-02-20 13:48] olebedev commented on #54
#65

[2017-02-20 13:48] #54 closed

[2017-02-20 13:49] olebedev commented on #66
@JulesAU, have a look at this #68

[2017-02-23 04:51] #66 closed

[2017-02-23 04:51] #60 closed

[2017-03-10 17:11] fanky5g opened #69 "support for code splitting"
Been trying too hard to achieve code splitting but can't get my way around the window undefined error when rendering on the server.

Is there any way to achieve code splitting using webpack's require.ensure.
or probably another method to circumvent that error.

[2017-03-10 17:15] olebedev commented on #69
Obviously, server cannot handle source scriot loading vua scropt html tag. Use different bundles for client and server.

[2017-03-10 17:15] #69 closed

[2017-03-10 18:01] fanky5g commented on #69
I'll try to hack that, however if you could show an example to point me in the right direction I'd be grateful.

[2017-03-14 08:25] tanis2000 commented on #11
@olebedev do you know if anyone actually used your repo to create an app with user authentication like you suggested?

[2017-03-16 17:15] tanis2000 opened #70 "Why are you skipping the first call to onEnter?"
I am trying to understand this part of the code:

https://github.com/olebedev/go-starter-kit/blob/master/client/router/routes.js#L18

Why are you skipping the first call to the onEnter function on the components? I feel like this is leading to some weird errors on my side. Maybe it's not related, but I'm not sure.

I added JWT authentication and there's a login component on the homepage. When I lo

[2017-03-17 09:43] tanis2000 opened #71 "SSR and store changes"
I'm experiencing an issue with SSR that's driving me mad. I've added authentication to this app and I'm storing a cookie with the auth token (JWT). The token is being passed down the pipe to the Go server so that I can actually send it to the JSVM when performing server side rendering.

This is working fine as the value of the cookie is available in the VM and I can read and log it to the console

[2017-03-18 08:16] olebedev commented on #70
Hi @tanis2000,

It's needed b/c for the first run at the client side, we already have HTML markup with some sort of data, fetched for this page at the server side. We already have all the data to render the page. So, we skip this.
But, actually, it's a react-router issue. React router renders <noscript /> tag while it calls onEnter prop. It needed b/c React is totally synchronous itself. And this

[2017-03-18 08:16] #70 closed

[2017-03-18 08:20] olebedev commented on #71
Could you paste `loginUserSuccess` function here?

[2017-03-18 11:14] tanis2000 commented on #70
Thanks for the explanation!

[2017-03-18 11:17] tanis2000 commented on #71
[code]

Actually I kind of solved this issue by moving that code to the `onEnter` function on the main App component:

[code]

It looks like the real issue was the one I opened in gojax. The missing headers caused the server side fetch to fail at calling the authenticated functions as the bearer token was completely missing just like all the other headers. I'm going to submit a PR for gojax and ev

[2017-03-21 04:53] llitfkitfk commented on #11
add docker for mac quick start demo #72

[2017-03-21 09:29] tanis2000 commented on #11
@llitfkitfk that's nice. I did something similar for a project I'm working on that spawned from this repo.
BTW I have a working app with authentication so if there's anyone who has already made a repo for such an app we could get that running together.

[2017-03-21 17:27] nanno77 opened #73 "Errors during first request of development server"
It looks like `make serve` starts everything up nicely but upon the first request the go server panics and throws a TypError

[code]

I can't for the life of me figure out where this is going wrong. `make install` works without any errors, even `make build` works, but upon running the server the error is thrown.

I would love to play with this project a little bit. If someone has any thoughts plea

[2017-03-21 18:48] scarmuega commented on #73
I have the same exact behavior, I'll try to pull from a previous commit to see if symptoms change.

[2017-03-22 01:29] iKonrad commented on #11
@tanis2000 nice! What did you use for authentication?

[2017-03-22 07:38] tanis2000 commented on #11
@iKonrad nothing fancy. It's just standard JWT through the echo framework. I had to do a bit of magic with cookies to keep the authentication working both on the client and with server side rendering, but that's all it takes.

[2017-03-22 17:18] tanis2000 opened #74 "Resolving promises in onEnter()"
Is there any way to resolve promises in onEnter() when calling it from the server? I'd like my components to fetch some data before rendering but I'm facing an issue.

If I add the fetch data stuff as a promise with something along the line of `store.dispatch(loadData());` it works fine on the client but since it returns a Promise, it doesn't work on the server.

On the other hand if I move the co

[2017-03-22 21:22] nanno77 commented on #73
@scarmuega circling back on this one. I roughly figured out the problem as it pertains to me.
Basically it was a JS error with Webpack not liking the syntax of `require`. Once I changed those to `import` in the sample app it all loaded up fine. It could be due to how I have babel configured globally, but I haven't had much time to dive into that.

[2017-03-23 10:06] tracker1 opened #75 "replace hot-proxy.js with webpack-dev-server"
Webpack-dev-server already has an option to reverse proxy...  Unless you are proxying websockets to the go server, in which case there's some changes pending iirc.

[2017-03-23 16:43] olebedev commented on #75
I don remember, exactly, but seems there were some limitations to plug webpack-dev-server in. Are you sure that all used functionality built in webpack-dev-server and we could migrate to it easily?

Anyway, the price is yet another file in the root folder(`./hot.proxy.js`), nothing else.

[2017-03-24 00:39] iKonrad commented on #11
Is it session/cookie based or pure API?
Since this project is isomorphic I'd like to have authentication that takes advantage of server side rendering.

[2017-03-24 07:36] tanis2000 commented on #11
I initially went for localStorage but then moved to cookies for your same reasons. The good thing about cookies is that I can just grab them from the browser, push it to the server, bridge it to the JSVM and do whatever I need before rendering the page on the server. That way it works both client and server side the same way.

There's only one concern left which is retrieving data from promises of

[2017-03-24 08:31] iKonrad commented on #11
You need redux thunk middleware for that and register it in the router.js file.

`[...]
import thunkMiddleware from 'redux-thunk';
// Add state logger
if (process.env.NODE_ENV !== 'production') {
  middlewares.push(require('redux-logger')());
  middlewares.push(thunkMiddleware);
}
`

And then, in your action creator you need to return the dispatch object so thunk can handle it

Change it from:
`ex

[2017-03-24 10:38] tanis2000 commented on #11
I'm already doing that but it's not enough.

here's the equivalent of the function run in `onEnter` in the `/usage` route:

[code]

The promise returned by fetch isn't being waited upon. I'm not sure this is actually an issue with @olebedev implementation of fetch or the way I'm using the thunk middleware that's wrong.

Calling that function from the onEnter like this leads to the fetch function b

[2017-03-24 10:56] tanis2000 commented on #11
Since onEnter() isn't working as expected I thought I'd just do it another way and implement a static function called `fetchData` on all the components needing some initial data and wrap the `renderToString` call into a Promise chain.

In the component's class:

[code]

In `toString.js`:

[code]

That way all of my non authenticated routes are actually retrieving the data needed and rendering corr

[2017-03-24 11:10] tanis2000 commented on #11
The solution was easier than expected. I just needed to add a `fetchData` method to the AuthenticatedComponent that checks if the wrapped component has one and returns it or eventually returns an empty promise.

Here's the code:

[code]

That's basically all that's needed to have auth work on the server side apparently.

[2017-03-27 18:14] tracker1 commented on #75
The main limitation I've seen is that websockets won't be proxied... I'm using it right now, and the passthrough is for anything that isn't served by webpack-dev-server is passed through...

My devserver config...

    {
      hot: true,
      overlay: false,
      noInfo: true,

      publicPath: '/client/',

      proxy: {
        '**': `http://localhost:${API_PORT}/`,
      },
      stats: { co

[2017-03-29 10:06] olebedev commented on #75
Thanks @tracker1!

But I would prefer to let be as it was.

[2017-03-29 10:06] #75 closed

[2017-03-30 17:24] skydiator commented on #11
@tanis2000 I am also playing around with the implementation of authentication part. Do you have the complete code in a repo to share with us?

[2017-03-30 17:41] tanis2000 commented on #11
@skydiator I have everything in a private repo as I'm using that for a private project. If there's enough interest and more contributors I'd be happy to create an open one to share with everybody :)

[2017-03-30 18:42] iKonrad commented on #11
Anyone of you tried this authentication library?
https://github.com/go-authboss/authboss

Any idea how to wire that up with react?

[2017-04-02 04:23] iKonrad commented on #11
@tanis2000 I'm having the same issue now (with rendering data from fetch on first call).

Would you mind posting your toString.js file and fetchData methods?

[2017-04-02 13:29] iKonrad commented on #11
Now I have a different issue.

I'm in the middle of writing a custom cookie/session based authentication.

I've got a cookie "SESSION_ID" which is retrieved on the server and processed. But when I render the react template on the server, and it executes the 'fetchData' function, it doesn't pass any cookie to the /api endpoint and therefore I can't authenticate the request.
How did you solve that?

[2017-04-03 09:28] iKonrad opened #76 "How to pass headers to the goja VM?"
Hey. I'm trying to implement a cookie based authentication, but when gojva VM renders the page (and therefore calls several API endpoints) and it doesn't have the client cookies.

I can see in react.go, on line 69 we're passing the headers, but they're not set on the client side.

These are the headers from the client:

And these ones are from the VM:

[2017-04-03 21:22] iKonrad commented on #76
Alright, if anyone had the same issue, the cookies are not passed because they're not set.

We can't just set them via document.cookie because the code is rendered on the server and document is undefined.

To solve that I've saved those cookies in the _global_ variable in toString.js:

`global.clientCookies = options.headers.Cookie[0];`

and then included it in the ajax call:

`
            let co

[2017-04-03 21:22] #76 closed

[2017-04-11 23:42] preppypiet opened #77 "Stopped rendering server side"
Hi, great library, thanks! I think a recent (as in last day or so) change in one of the node libraries used by the project is causing server-side rendering to fail. I haven't had a chance to take a look at exactly what's going on, and I have no idea yet what library is causing this, but you can reproduce it by cloning this repo, make install and make serve. In your browser, disable javascript for

[2017-04-12 04:00] olebedev commented on #77
Hi,
yup, unfortunately client-side deps  have changed dramatically so the project could not even start correctly. I will fix this asap, but have no chance to predict when it can happen. B/c of lack of time. I would be really appreciate if some good man will help with this issue.

[2017-04-12 04:27] kockok commented on #11
@iKonrad Can you write a litter tutorial on how to use flightplan.js to do continuous deployment with this golang kit? Thanks.

[2017-04-12 08:23] preppypiet commented on #77
I'd love to help! I should have some time this weekend to take a proper look and see what's going on. Can't promise anything, but I'll take a look as soon as I can.

[2017-04-12 22:42] iKonrad opened #78 "How to render a specific page on the server?"
Hi. Great boilerplate!

I'm almost done with my authentication system, but there's one thing that's bugging me a bit.

I'm in the process of implementing the account activation - so when someone clicks on the activation link from the e-mail, server validates the token and displays appropriate message.

Because the routing is set up so React has the final word on rendering the template, I'm left wi

[2017-04-13 06:08] olebedev commented on #78
Hi,
the short answer is use _echo_'s routing for this.
Take a look at [this](https://github.com/olebedev/go-starter-kit/blob/master/server/app.go#L116). that means that react VM will be used only for undefined urls. So, define url and handle it at server directly.

Nope, it's totally ok. But for more performance, you are able to use method above.

[2017-04-13 06:08] #78 closed

[2017-04-14 02:36] iKonrad commented on #78
Thanks, I managed to get that done by moving the react.go to a separate package, and then within my route handler, I'm calling React.Handle(c) to render the view :)

[2017-04-23 13:15] joeblew99 opened #80 "install fails using standard install"
not sure how to fix

[code]

[2017-04-23 13:42] olebedev commented on #80
@joeblew99, run `make install` before `make serve`

[2017-04-23 13:42] #80 closed

[2017-04-23 14:37] joeblew99 commented on #80
@olebedev works thanks.

[2017-04-23 20:05] ufukomer commented on #73
I get the similar error when I update the React from 0.14 to 0.15 and have no *require* in my code.

<img width="1057" alt="screen shot 2017-04-23 at 10 58 15 pm" src="https://cloud.githubusercontent.com/assets/7649229/25317002/32cf18b0-2879-11e7-8ffb-e3c0f2b5a3fa.png">

Have an idea? (No changes on react.go)

[2017-04-24 13:06] ufukomer commented on #73
Finally, I found the error. This is what happens when you update *React* and don't update *Helmet*. Goja does not show the error line in bundle.js which makes debugging process very hard. Isn't there an easier way for this?

[2017-04-24 13:07] olebedev commented on #73
@ufukomer, great!

Could you send a PR with updated deps?

[2017-04-24 14:06] iKonrad commented on #73
I was trying to update all the deps as well but it took me way too long and resigned.

Anyway, make sure to temporarily turn off server side rendering when you update dependencies, it'll make it easier to track down all the issues.

[2017-04-24 15:08] ufukomer commented on #73
@iKonrad If you disable server rendering you won't get most of these errors. 😁

Let's turn this issue into print **stack trace** of *goja* errors. That is a goja issue lol. Check this out: https://github.com/dop251/goja/issues/28#issuecomment-293986147

Though it does not help much but better than none.

@olebedev I made lots of changes. I need to fork and update from scratch. So I can do it in th

[2017-04-26 14:06] ufukomer commented on #19
I'll do it if you wish.

[2017-04-27 06:54] olebedev commented on #19
@ufukomer, yes, please.
Take a look at [this](https://blog.callstack.io/type-checking-react-and-redux-thunk-with-flow-part-1-ad12de935c36) before start.

[2017-04-29 05:11] #51 closed

[2017-05-07 14:53] leandermelms opened #83 "Disable SSR"
Hi,

thanks for making this. I've used this repo as inspiration and incoporated all the logic. However, as the client side app grows in complexity, SSR becomes an issue. For this reason, I've already followed your advice on how to turn of SSR by using:

[code]

The app runs fine in development by running `make serve` but fails at building due to various issues with external libraries (the use of r

[2017-05-07 15:04] leandermelms commented on #83
Figured it out, sorry for reaching out. For anyone facing the same issue: Very (!) hacky but I just immediately returned the `vm` of the `newJSVM` func.

[2017-05-07 15:04] #83 closed

[2017-05-07 23:34] nazwa opened #84 "Server remains in background on exit"
Stopping `make serve` with `ctrl + c` leaves the go server running in background.
![](https://maciej.im/u/MTY1OA/2017-05-08-00-23-39.png)

And it continues serving (and outputting) requests:
![](https://maciej.im/u/MTY1Nw/2017-05-08-00-22-03.png)

Unfortunately this is way beyond my make skills to fully dig into myself. All the other processes seem to quit just fine. Not sure what's different abou

[2017-05-08 12:26] olebedev commented on #84
Seems something went wrong. Could you kill _go-starter-kit_ server's process and run `make serve` again? What is the result?

[2017-05-08 15:00] nazwa commented on #84
If I **do** manually kill the server process - `make serve` starts as if nothing happened.

If I **don't** manually kill the server process, `make serve` also starts as if nothing happened, and kills the server using pid saved in the file

It's not the end of the world, but it is a bit inconvenient to have the orphaned process running 😄

[2017-05-18 13:03] whitebook opened #85 "panic: TypeError: Object has no member 'assign' at S"
I just tried to run make serve

Here is the output. I tried to debug, but I am not sure where the issue is.

Hash: 070ca457e163c58c8dc8
Version: webpack 1.15.0
Time: 4546ms
     Asset     Size  Chunks             Chunk Names
 bundle.js  1.18 MB       0  [emitted]  bundle
bundle.css  9.11 kB       0  [emitted]  bundle
    + 335 hidden modules
Child extract-text-webpack-plugin:
        + 2 hidden mo

[2017-05-18 13:06] whitebook commented on #85
I just wanted to mention

I am on OSX.

GO Version: go version go1.8.1 darwin/amd64
Node Version: v7.10.0

[2017-05-18 13:08] olebedev commented on #85
Is this output for the blank starter kit?
Note: goja supported only ES5 spec and `Object.assign` is not a part of ES5 spec.

[2017-05-18 13:12] whitebook commented on #85
This is the for the blank starter kit

[2017-05-18 13:15] olebedev commented on #85
Okay, I will check this soon. Thanks to the report.

Oleg Lebedev
+7 922 1505553

On Thu, May 18, 2017 at 6:12 PM, whitebook <notifications@github.com> wrote:

[2017-05-22 05:27] #85 closed

[2017-05-22 14:29] whitebook commented on #85
Thanks for the fix it is resolved now.

[2017-05-25 20:54] iKonrad opened #87 "Static files gzip compression?"
Hey. I'm trying to set up gzip compressed js files. How would you go around that?

`Echo` has a gzip middleware, which works fine for HTML content, but when my app tries to fetch bundle.js, it returns an `err_content_length_mismatch` error. Any idea what would be the proper way to do that?

[2017-05-27 11:06] zhangmaku opened #88 "How to make redux-devtools work?"
[code]
error
`Redux DevTools could not render. Did you forget to include DevTools.instrument() in your store enhancer chain before using createStore()?`

[2017-05-28 09:21] iKonrad commented on #88
Here's my createStore part with devTools:
[code]

you just need to add this line `typeof window === 'object' && typeof window.devToolsExtension !== 'undefined' ? window.devToolsExtension() : f => f` to `compose` when creating a store and it should work

[2017-05-31 08:35] #88 closed

[2017-06-06 09:20] softgripper commented on #11
And I can't get this building on windows - and I'm no makefile guru, but it's doing some wizardry.

I'd love to be able to install this and run through an app/tutorial.

Right now, I think I'm going to just write my own :(

[2017-06-10 13:17] zhangmaku opened #91 "import css not work?"
[code]

ReactTable can't load css style, how can I do?

![image](https://user-images.githubusercontent.com/25602778/27003057-6de7f92a-4e22-11e7-9be9-82a6e810d89b.png)

[2017-06-23 11:57] olebedev commented on #91
Hi @zhangmaku, by `webpack.config.js`.  There is nothing special.

[2017-06-23 11:57] #91 closed

[2017-06-30 14:31] tanis2000 commented on #71
@grokbot this is no longer an issue as the fix to gojax actually fixed this as well. The problems were intertwined. I'm going to close this issue.

[2017-06-30 14:31] #71 closed

[2017-07-03 00:11] nazwa opened #92 "Event loop implementation / error handling"
Hi @olebedev

We've been playing a lot with this project (nice work 👍 ) and it definitely shows great potential. Deploying full node stack is not always ideal.

One aspect that appears to be really lacking is general error handling within the event loop. Even the smallest js errors seem to crash the entire app and uncaught exceptions.... Let's just say things are not pretty :)

I saw that you move

[2017-07-03 00:13] nazwa commented on #84
Seems to have fixed itself 😕 No clue what was happening there.

[2017-07-03 00:13] #84 closed

[2017-07-16 04:54] abzfarah commented on #75
Hey guys

Now that webpack dev server supports WS, what do you think about replacing hot-proxy?

[2017-07-23 10:14] abzfarah opened #93 "Port 5001"
Just wondering why is it that you can load the browser on port 5001? I've been looking for where you set this config but can't find it. When I search the repo the only reference I get is the readme.

[2017-07-23 11:02] joelnb commented on #93
I think you should look in hot.proxy.js (in the root of the repo) - specifically the line where it does 'port++' (after setting it to 5000 if you didn't specify another port through the env var).

Sorry for the lack of links as I'm on mobile but hopefully this should help you find what you want.

[2017-07-23 11:17] abzfarah commented on #93
@joelnb thanks

[2017-07-23 11:17] #93 closed, assigned to nobody

[2017-08-01 12:57] leanderme opened #94 "Makefile commands are launched separately"
Hi
thanks for open sourcing this. I'm currently experimenting with the project and found that running `make serve` runs the webpack command, then exists out while the process continues in the background and afterwarts launches the Go server.

Developing still works of course but the processes continue in the background when stopping using ^C.

As a workaround I'm killing the ports afterwards manua

[2017-10-17 07:49] dmdque commented on #57
I'm getting this same issue, and I've made sure to use `cd $GOPATH/src/github.com/<username>/<project>`.

It was working fine a couple of days ago.

`go env`:
[code]

EDIT: Looks like my `~/.zshrc` had `GOPATH=~/gocode` and changing it to `export GOPATH=~/gocode` fixed the issue.

[2017-11-08 07:41] ghost opened #95 "Support for react 16"
Does this project support react 16?

[2017-11-17 16:46] DSofter commented on #57
@olebedev I'm still seeing this issue and i believe i'm in the right folder. anything i'm missing?
![image](https://user-images.githubusercontent.com/1687829/32958580-be2b29ce-cb73-11e7-9b14-b0c9019945d4.png)

[2018-01-04 15:10] senthilsivanath commented on #94
Yup the process on port continues.

[2018-02-07 05:19] senthilsivanath commented on #77
Resolving all JS warnings, got the server side compilation again.

[2018-02-14 20:25] ferhatelmas opened #96 "Question: Why echo ? How about today ?"
Hi Oleg,

I'm in a phase to pick echo vs gin.

It seems gin was in use before, which is replaced by echo. I would appreciate if you could provide some insights about this change.

Moreover, both projects are moving so reasons at that time might not be valid anymore so how would you consider your options today?

Thanks in advance!

[2018-02-21 15:38] olebedev commented on #96
Hi @ferhatelmas,

I found echo’s api more elegant and solid, meanwhile, gin’s api grew spontaneously and a bit ill-conceived.

Well, today i would pick swagger or graphql(both with code generation) b/c documentation and flexibility is matter nowadays.

[2018-02-21 15:38] #96 closed, assigned to nobody

[2018-02-21 22:39] ferhatelmas commented on #96
@olebedev Thanks for answer. Any preference for graphql implementation and why ?

[2018-02-22 02:43] olebedev commented on #96
@ferhatelmas, just an option from two possible. GraphQL shifts complexity from backend to frontend, it's not a silver bullet.

[2018-02-25 23:01] ferhatelmas commented on #96
@olebedev sure. Actually, we have a team, more inclined to frontend (3 vs 1). Thus, it might be a good point to get started if we want to investigate further.

[2018-03-01 04:50] jimbojetlag commented on #95
Bump! Is this project dead?

Unfortunately webpack also needs updating. Yes it sucks to keep up with javascriptdashians.

[2018-03-01 04:56] olebedev commented on #95
The project definitely needs more attention. I don’t know when could I dig into it and update all the things. Maybe in around 2-3 weeks. Any help is welcome!

[2018-03-01 05:07] jimbojetlag commented on #95
Is there a way that parts of the project can be delegated to create-react-app, so that the javascript updates are outsources? Even if this is updated now, it will require constant future updates.

[2018-03-01 06:19] olebedev commented on #95
I've thought exactly about this approach. And it seems we could rely on CRA a bit. But not sure that it generates the code to use it on the server side too. Requires some investigation.

[2018-03-18 05:03] nebulr commented on #57
this error can be thrown if you don't have GOPATH set in your shell

[2018-04-13 20:54] stefanfransen commented on #95
Is there any update on this? Thanks!

[2018-05-07 20:12] omgnull commented on #95
ping 0.0.0.0 -update -please

[2018-05-07 23:05] emwalker commented on #95
I did this recently in a project that has now diverged enough that I won't be able to easily put together a PR for this.  From memory, switching to React 16 has several follow-on effects.  I think it might mess up the existing hot module reloading.

[2018-05-24 12:19] benwad commented on #57
For me, this issue seemed to arise from my version of `sed` not concatenating environment variables with strings properly (this is on MacOS 10.13). I managed to fix it by replacing this line (Makefile, line 12):

`IMPORT_PATH   = $(shell pwd | sed "s|^$(GOPATH)/src/||g")`

...with this line:

`IMPORT_PATH   = $(shell pwd | sed "s|^$(GOPATH)||g" | sed "s|^src/||g")`

I can make a PR for this if it

[2018-06-30 15:56] jakelacey2012 opened #98 "How does this work?"
Firstly two things
 - Thanks for creating this, really good idea!
 - Sorry for the issue title.

I want to create a simplfied version of this repository which just includes SSR (via parcel). What parts of this repository should I be looking at copying and what other parts could I avoid doing. And would someone be able to breifly explain how this all works.

[2018-07-01 14:10] olebedev commented on #98
Hi @jakelacey2012,

Well, I hope the README file contains a brief explanation. The project itself a bit outdated. I am not sure that you can just grab some parts and go further w/o any concerns.

I planning to bring a massive update to the repo. Cannot say when, though.

[2018-07-01 14:46] jakelacey2012 commented on #98
@olebedev thanks for the reply.

Hmmm okay I thought as much, what about an short architectural overview of how it works internally without the implementation detail as I don't think this is covered in the README, I've been trying to read the go code but because I don't know go all that well its being quite slow.

For example the bits I'm struggling to find/understand in the code is where the bund

[2018-11-15 19:28] xeoncross opened #99 "Update Hot-reloading"
According to the readme, hot reloading is performed via [react-transform](https://github.com/gaearon/babel-plugin-react-transform) & webpack 1 HMR. However, both projects are depreciated.

https://github.com/gaearon/react-hot-loader is the replacement.

In fact, much/all of the webpack stuff could be replaced with [Parcel](https://github.com/gaearon/react-hot-loader#parcel) removing a lot of confi

[2018-11-16 03:33] olebedev commented on #99
Sounds good to me 😀

I am not that I will be able to spend even an hour for this in nearest 3 months. So, if you could do this, please do via PR.

[2018-11-16 13:57] xeoncross commented on #99
How much are you comfortable changing? If I fork the project and move from glide to go modules (1.10+), remove webpack for parcel, replace echo with gin (or raw httprouter), and build a basic login demo using material-ui and goth or authboss - would you still want to merge it?

[2018-11-16 14:04] olebedev commented on #99
Everything sounds good except changing echo to gin(i have changed gin to echo at one of precious iterations). The rest is perfectly fine. Please do it.

[2019-05-11 18:18] wrannaman opened #100 "Question: Any interest in putting together a premium version for sale on SugarKubes?"
Hi @olebedev, congrats on the traction! Would you be interested in putting together a premium version of this repo to sell on [SugarKubes](https://sugarkubes.io)? It's a code and container marketplace I'm putting together.

[2019-08-22 09:22] nickmurr commented on #98
It would be great if you update the project!

[2019-08-26 02:23] olebedev commented on #98
PRs are welcome :)

[2019-11-27 19:12] v1rtl commented on #99
@Xeoncross so, how's the progress on the PR?

[2019-11-27 21:33] xeoncross commented on #99
@talentlessguy I don't think [I ever started](https://github.com/olebedev/go-starter-kit/network/members) actually. An alternative to is simply using chromedp to pre-render the react app: https://gist.github.com/Xeoncross/61e177b207875952288bfe37912a0d51